div.aboutme {

	display: inline-block;

	text-align: center;
	width:35%;

	vertical-align: top;

	span.title {
		display: block;
		text-align: center;
		font-size: $title-size;
	}

	span.other {
		
		text-align: justify;
	}

}