$high-res-mobile: 3.0;
$med-res-mobile: 2.0;
$norm-res-mobile: 1.0;

$background-color:white;

body {

	font-family: 'Titillium Web', serif;

	div.above {

		@import 'nav';
		background-image: url('/img/glacier-530050_1920.jpg');

		padding-bottom: 150px;
	}

	div.below {

		margin-top: 15px;

		$title-size: 1.8em;

		background-color: $background-color;

		@import 'projects';
	}
	
}